.hero{
    background-color: var(--primary-color);
    padding: var(--primary-padding);
    color: white;
    position: relative;
}
.hero-words{
    margin: 0;
    width: 60%;
    padding: 70px 0;
}
.hero-words h1{
    color: var(--secondary-color);
    font-size: 90px;
    margin: 0;
}
.hero-words h2{
    font-size: 60px;
    margin: 0;
}
.hero-words p{
    line-height: 1.6;
    margin-bottom: 40px;
    width: 90%;
}
.hero-words .hero-btn{
    padding: 15px 60px;
    font-size: 20px;
}
.hero-img{
    position: absolute;
    top : 150px;
    right: 20px;
}
.hero-img img{
    width: 80%;
}
.order{
    background-color: white;
    padding: var(--primary-padding);
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}
.order h3{
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
}
.order ul{
    display: flex;
    justify-content: center;
}
.order ul :not(:first-child) {
    margin-left: 20px;
}
.order ul li{
    list-style-type: none;
    font-size: 30px;
    border: 0;
    padding: 10px 30px;
    background-color: var(--light-ash-color);
    border-radius: 30px;
    line-height: 1.5;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}
.order ul li:hover{
    background-color: var(--dark-ash-color);
    border-radius: 30px;
    line-height: 1.5;
    font-weight: 600;
    color: var(--primary-color);
}
.order-menus{
    background-color: var(--secondary-color);
    padding: var(--primary-padding);
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}
.order-menu{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: flex;
    border-bottom: 3px solid black;
}
.order-menu-words{
    flex-basis: 75%;
    padding-right: 30px;
}
.order-menu-words h3 {
    font-size: 30px;
    font-weight: normal;
}

.order-menu-image{
    flex-basis: 25%;
    padding: 0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.order-menu-image img{
    width: 100%;
    height: 80%;
}
.about-us{
    background-color: var(--primary-color);
    padding: var(--primary-padding);
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-us h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}
.about-description{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-words{
    flex-basis: 60%;
}
.about-words p{
    line-height: 1.6;
    font-size: 20px;
    text-align: justify;
    padding-left: 30px;
}
.about-images{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}
.about-images img{
    height: 400px;
}
.contact-us-back{
    height: 100%;
    width: 100%;
    background-color: rgba(12, 12, 1, 0.7);
}
.div-wrapper{
    display: flex;
    justify-content: flex-end;
}
.contact-us-back > h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 60px;
    text-align: center;
}
.contact-div{
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    width: 85%;
    height:100% ;
    display: flex;
    padding-bottom: 60px;
}
.contact-form{
    flex-basis: 65%;
    padding-left: 50px;
    padding-top: 30px;
}
.contact-form input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}
.contact-form button{
   margin-top: 20px;
   width: 200px;
   font-size: 20px;
   font-weight: normal;
}
.contact-details .icons{
    margin-right: 7%;
    
}
.contact-details{
    padding: 0 10px 0 50px ;
    flex-basis: 35%;
}
.contact-details h2{
    color: var(--secondary-color);
    margin: 0;
    font-weight: normal;
    font-size: 30px;
}
.contact-details p{
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    font-size: 20px;
}
.contact-details-one, .contact-details-two, .contact-details-icons{
    padding-top: 40px;
    margin-bottom: 10px;
}